In [1]:
import os
import pandas as pd
import fastf1 as ff1

from dotenv import load_dotenv

In [2]:
load_dotenv()

FASTF1_CACHE_DIR = os.getenv('FASTF1_CACHE_DIR')
FASTF1_CACHE_ENABLED = os.getenv('FASTF1_CACHE_ENABLED')
FASTF1_FORCE_RENEW = os.getenv('FASTF1_FORCE_RENEW')
LOG_LEVEL = os.getenv('LOG_LEVEL')
FASTF1_INCLUDE_TESTING = os.getenv('FASTF1_INCLUDE_TESTING') == 'true'

In [3]:
print(FASTF1_CACHE_DIR)
print(FASTF1_CACHE_ENABLED)
print(FASTF1_FORCE_RENEW)
print(LOG_LEVEL)
print(FASTF1_INCLUDE_TESTING)

data/raw/cache
true
false
INFO
False

In [4]:
ff1.Cache.get_cache_info()

(None, None)

In [5]:
from pathlib import Path

In [6]:
current = Path.cwd()

In [7]:
indicators = [
    '.git', 'pyproject.toml'
]

for parent in [current] + list(current.parents):
    if any((parent / indicator).exists() for indicator in indicators):
        parent_dir = parent

print(parent_dir)

/Volumes/ExternalSSD/My Projects/Data Science Projects/f1_ds_project

In [8]:
print(parent_dir / FASTF1_CACHE_DIR)

/Volumes/ExternalSSD/My Projects/Data Science Projects/f1_ds_project/data/raw/cache

In [9]:
ff1.Cache.enable_cache(parent_dir / FASTF1_CACHE_DIR)
ff1.set_log_level(LOG_LEVEL)

In [10]:
# season_2022 = ff1.get_event_schedule(2022, include_testing=FASTF1_INCLUDE_TESTING)
session_obj = ff1.get_session(2022, 1, 1)
# first_race.load(weather=False, telemetry=False, laps=True)

In [11]:
print(f"Event Name: {session_obj.event.EventName}")
print(f"Event Location: {session_obj.event.Location}")
print(f"Event Country: {session_obj.event.Country}")
print(f"Session Name: {session_obj.name}")
print(f"Session Date: {session_obj.date}")
print(f"Track Length: {getattr(session_obj, 'track_length', None)}")
print(f"Session Type: {getattr(session_obj, 'session_type', None)}")
print(f"Event Format: {getattr(session_obj, 'weekend_format', None)}")

Event Name: Bahrain Grand Prix
Event Location: Sakhir
Event Country: Bahrain
Session Name: Practice 1
Session Date: 2022-03-18 12:00:00
Track Length: None
Session Type: None
Event Format: None

In [12]:
print(f'event_format: {getattr(session_obj.event, "EventFormat", None)}')
print(f'round_number: {getattr(session_obj.event, "RoundNumber", None)}')
print(f'official_event_name: {getattr(session_obj.event, "OfficialEventName", None)}')

event_format: conventional
round_number: 1
official_event_name: FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2022

In [13]:
session_obj.load()

core           INFO 	Loading data for Bahrain Grand Prix - Practice 1 [v3.6.1]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['1', '3', '4', '6', '10', '11', '14', '16', '18', '20', '22', '23', '24', '27', '31', '44', '47', '55', '63', '77']

In [17]:
if not hasattr(session_obj, "laps") or session_obj.laps.empty:
    print("No lap data available")

In [18]:
laps = session_obj.laps.copy()

In [19]:
laps.columns

Index(['Time', 'Driver', 'DriverNumber', 'LapTime', 'LapNumber', 'Stint',
       'PitOutTime', 'PitInTime', 'Sector1Time', 'Sector2Time', 'Sector3Time',
       'Sector1SessionTime', 'Sector2SessionTime', 'Sector3SessionTime',
       'SpeedI1', 'SpeedI2', 'SpeedFL', 'SpeedST', 'IsPersonalBest',
       'Compound', 'TyreLife', 'FreshTyre', 'Team', 'LapStartTime',
       'LapStartDate', 'TrackStatus', 'Position', 'Deleted', 'DeletedReason',
       'FastF1Generated', 'IsAccurate'],
      dtype='object')

In [20]:
laps.head(2)

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 00:20:19.908000,VER,1,NaT,1.0,1.0,0 days 00:18:33.392000,NaT,NaT,0 days 00:00:46.433000,...,True,Red Bull Racing,0 days 00:18:33.392000,2022-03-18 12:03:33.405,1,NaN,False,,False,False
1,0 days 00:21:57.674000,VER,1,0 days 00:01:37.766000,2.0,1.0,NaT,NaT,0 days 00:00:30.695000,0 days 00:00:41.580000,...,True,Red Bull Racing,0 days 00:20:19.908000,2022-03-18 12:05:19.921,12,NaN,False,,False,True

In [29]:
if not False and "Test" in "Pre-season Test":
    print("Executed")

Executed

In [30]:
season_2022.head()

,RoundNumber,Country,Location,OfficialEventName,EventDate,EventName,EventFormat,Session1,Session1Date,Session1DateUtc,...,Session3,Session3Date,Session3DateUtc,Session4,Session4Date,Session4DateUtc,Session5,Session5Date,Session5DateUtc,F1ApiSupport
2,1,Bahrain,Sakhir,FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2022,2022-03-20,Bahrain Grand Prix,conventional,Practice 1,2022-03-18 15:00:00+03:00,2022-03-18 12:00:00,...,Practice 3,2022-03-19 15:00:00+03:00,2022-03-19 12:00:00,Qualifying,2022-03-19 18:00:00+03:00,2022-03-19 15:00:00,Race,2022-03-20 18:00:00+03:00,2022-03-20 15:00:00,True
3,2,Saudi Arabia,Jeddah,FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2022,2022-03-27,Saudi Arabian Grand Prix,conventional,Practice 1,2022-03-25 17:00:00+03:00,2022-03-25 14:00:00,...,Practice 3,2022-03-26 17:00:00+03:00,2022-03-26 14:00:00,Qualifying,2022-03-26 20:00:00+03:00,2022-03-26 17:00:00,Race,2022-03-27 20:00:00+03:00,2022-03-27 17:00:00,True
4,3,Australia,Melbourne,FORMULA 1 HEINEKEN AUSTRALIAN GRAND PRIX 2022,2022-04-10,Australian Grand Prix,conventional,Practice 1,2022-04-08 13:00:00+10:00,2022-04-08 03:00:00,...,Practice 3,2022-04-09 13:00:00+10:00,2022-04-09 03:00:00,Qualifying,2022-04-09 16:00:00+10:00,2022-04-09 06:00:00,Race,2022-04-10 15:00:00+10:00,2022-04-10 05:00:00,True
5,4,Italy,Imola,FORMULA 1 ROLEX GRAN PREMIO DEL MADE IN ITALY ...,2022-04-24,Emilia Romagna Grand Prix,sprint,Practice 1,2022-04-22 13:30:00+02:00,2022-04-22 11:30:00,...,Practice 2,2022-04-23 12:30:00+02:00,2022-04-23 10:30:00,Sprint,2022-04-23 16:30:00+02:00,2022-04-23 14:30:00,Race,2022-04-24 15:00:00+02:00,2022-04-24 13:00:00,True
6,5,United States,Miami,FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2022,2022-05-08,Miami Grand Prix,conventional,Practice 1,2022-05-06 14:30:00-04:00,2022-05-06 18:30:00,...,Practice 3,2022-05-07 13:00:00-04:00,2022-05-07 17:00:00,Qualifying,2022-05-07 16:00:00-04:00,2022-05-07 20:00:00,Race,2022-05-08 15:30:00-04:00,2022-05-08 19:30:00,True

In [31]:
season_2022.shape

(22, 23)

In [27]:
bahrain = season_2022[season_2022["EventName"] == 'Bahrain Grand Prix']
metadata = bahrain.iloc[0].to_dict()
metadata

{'RoundNumber': 1,
 'Country': 'Bahrain',
 'Location': 'Sakhir',
 'OfficialEventName': 'FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2022',
 'EventDate': Timestamp('2022-03-20 00:00:00'),
 'EventName': 'Bahrain Grand Prix',
 'EventFormat': 'conventional',
 'Session1': 'Practice 1',
 'Session1Date': Timestamp('2022-03-18 15:00:00+0300', tz='UTC+03:00'),
 'Session1DateUtc': Timestamp('2022-03-18 12:00:00'),
 'Session2': 'Practice 2',
 'Session2Date': Timestamp('2022-03-18 18:00:00+0300', tz='UTC+03:00'),
 'Session2DateUtc': Timestamp('2022-03-18 15:00:00'),
 'Session3': 'Practice 3',
 'Session3Date': Timestamp('2022-03-19 15:00:00+0300', tz='UTC+03:00'),
 'Session3DateUtc': Timestamp('2022-03-19 12:00:00'),
 'Session4': 'Qualifying',
 'Session4Date': Timestamp('2022-03-19 18:00:00+0300', tz='UTC+03:00'),
 'Session4DateUtc': Timestamp('2022-03-19 15:00:00'),
 'Session5': 'Race',
 'Session5Date': Timestamp('2022-03-20 18:00:00+0300', tz='UTC+03:00'),
 'Session5DateUtc': Timestamp('2022-03-20 15:00:00'),
 'F1ApiSupport': True}

In [18]:
season_2022.columns

Index(['RoundNumber', 'Country', 'Location', 'OfficialEventName', 'EventDate',
       'EventName', 'EventFormat', 'Session1', 'Session1Date',
       'Session1DateUtc', 'Session2', 'Session2Date', 'Session2DateUtc',
       'Session3', 'Session3Date', 'Session3DateUtc', 'Session4',
       'Session4Date', 'Session4DateUtc', 'Session5', 'Session5Date',
       'Session5DateUtc', 'F1ApiSupport'],
      dtype='object')

In [20]:
for _, event in season_2022.iterrows():
    print(event.get("EventName"))

Bahrain Grand Prix
Saudi Arabian Grand Prix
Australian Grand Prix
Emilia Romagna Grand Prix
Miami Grand Prix
Spanish Grand Prix
Monaco Grand Prix
Azerbaijan Grand Prix
Canadian Grand Prix
British Grand Prix
Austrian Grand Prix
French Grand Prix
Hungarian Grand Prix
Belgian Grand Prix
Dutch Grand Prix
Italian Grand Prix
Singapore Grand Prix
Japanese Grand Prix
United States Grand Prix
Mexico City Grand Prix
São Paulo Grand Prix
Abu Dhabi Grand Prix

In [23]:
first_race.drivers

['1',
 '3',
 '4',
 '6',
 '10',
 '11',
 '14',
 '16',
 '18',
 '20',
 '22',
 '23',
 '24',
 '27',
 '31',
 '44',
 '47',
 '55',
 '63',
 '77']

In [24]:
first_race.event

RoundNumber                                                   1
Country                                                 Bahrain
Location                                                 Sakhir
OfficialEventName    FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2022
EventDate                                   2022-03-20 00:00:00
EventName                                    Bahrain Grand Prix
EventFormat                                        conventional
Session1                                             Practice 1
Session1Date                          2022-03-18 15:00:00+03:00
Session1DateUtc                             2022-03-18 12:00:00
Session2                                             Practice 2
Session2Date                          2022-03-18 18:00:00+03:00
Session2DateUtc                             2022-03-18 15:00:00
Session3                                             Practice 3
Session3Date                          2022-03-19 15:00:00+03:00
Session3DateUtc                             2022-03-19 12:00:00
Session4                                             Qualifying
Session4Date                          2022-03-19 18:00:00+03:00
Session4DateUtc                             2022-03-19 15:00:00
Session5                                                   Race
Session5Date                          2022-03-20 18:00:00+03:00
Session5DateUtc                             2022-03-20 15:00:00
F1ApiSupport                                               True
Name: 2, dtype: object

In [33]:
season_2022.iloc[2, :]

RoundNumber                                                   1
Country                                                 Bahrain
Location                                                 Sakhir
OfficialEventName    FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2022
EventDate                                   2022-03-20 00:00:00
EventName                                    Bahrain Grand Prix
EventFormat                                        conventional
Session1                                             Practice 1
Session1Date                          2022-03-18 15:00:00+03:00
Session1DateUtc                             2022-03-18 12:00:00
Session2                                             Practice 2
Session2Date                          2022-03-18 18:00:00+03:00
Session2DateUtc                             2022-03-18 15:00:00
Session3                                             Practice 3
Session3Date                          2022-03-19 15:00:00+03:00
Session3DateUtc                             2022-03-19 12:00:00
Session4                                             Qualifying
Session4Date                          2022-03-19 18:00:00+03:00
Session4DateUtc                             2022-03-19 15:00:00
Session5                                                   Race
Session5Date                          2022-03-20 18:00:00+03:00
Session5DateUtc                             2022-03-20 15:00:00
F1ApiSupport                                               True
Name: 2, dtype: object

In [25]:
first_race.get_circuit_info()

data        WARNING 	Failed to generate marker distance information: telemetry data has not been loaded

CircuitInfo(corners=              X            Y  Number Letter       Angle  Distance
0     42.405939  8329.202564       1        -246.615311       NaN
1    820.781621  7879.043841       2        -101.177469       NaN
2   1912.969997  8065.442167       3        -261.394562       NaN
3   7487.745293  6790.710716       4        -349.599066       NaN
4   5820.228443  4860.740936       5        -211.501597       NaN
5   5180.404121  4214.598861       6         -76.374442       NaN
6   4276.202937  4156.240631       7        -258.953372       NaN
7   2490.099011  2458.600397       8        -114.654309       NaN
8   2711.155288  5950.242339       9        -344.907956       NaN
9   2100.132716  6613.999851      10        -270.022000       NaN
10  2120.985221  -663.995072      11        -100.999671       NaN
11  4981.251162  1603.747622      12        -272.812824       NaN
12  6665.934072   449.275637      13        -358.727848       NaN
13  -145.412458 -3472.808548      14        -110.521532       NaN
14  -552.812606 -2803.666251      15        -169.061999       NaN, marshal_lights=              X            Y  Number Letter       Angle  Distance
0   -403.030010   819.261165       1        -182.636711       NaN
1   -170.997780  6888.075335       2        -181.620516       NaN
2   2091.793058  8069.873588       3         -92.041958       NaN
3   6028.332908  7353.740540       4        -280.465995       NaN
4   6384.228520  5548.195861       5        -229.171805       NaN
5   5401.364201  4328.365401       6         -58.412958       NaN
6   3886.937743  3990.070522       7        -238.912453       NaN
7   2977.381909  2780.529066       8         -35.812902       NaN
8   2422.170415  3733.439625       9        -192.417668       NaN
9   2747.081713  5711.158082      10        -353.833280       NaN
10  1949.470102  6521.582003      11        -214.748968       NaN
11  1520.829900   383.508904      12        -181.786865       NaN
12  3059.362995  -227.622315      13         -40.069301       NaN
13  3622.008522   852.958900      14        -205.613508       NaN
14  6222.549044  1091.238431      15        -297.156773       NaN
15  5396.067391  -632.096263      16         -63.183423       NaN
16  1241.794398 -2937.044985      17         -61.130134       NaN
17  -565.125813 -2116.921434      18        -182.793522       NaN, marshal_sectors=              X            Y  Number Letter       Angle  Distance
0   -393.185167  1019.245720       1        -183.019352       NaN
1   -175.143181  6721.273251       2        -181.661190       NaN
2   2029.269964  8072.488919       3         -92.263093       NaN
3   5938.043810  7370.224849       4        -280.364943       NaN
4   6513.700757  5653.428140       5        -232.068722       NaN
5   5440.095703  4352.899291       6         -48.640796       NaN
6   3821.952450  3945.006672       7        -231.591606       NaN
7   2911.010730  2694.768477       8         -39.203254       NaN
8   2442.776275  3827.134558       9        -191.015371       NaN
9   2738.529117  5781.550811      10        -352.998227       NaN
10  1949.477533  6521.591324      11        -212.616743       NaN
11  1517.999905   158.359360      12        -179.828461       NaN
12  3148.505677  -112.147992      13         -34.684526       NaN
13  3614.774870   837.916300      14        -205.638861       NaN
14  6110.804921  1147.597626      15        -296.589707       NaN
15  5307.278700  -678.311417      16         -61.886217       NaN
16  1046.005570 -3048.425352      17         -60.882073       NaN
17  -564.909333 -2112.755204      18        -183.198163       NaN, rotation=92.0)

In [26]:
first_race.name

'Practice 1'

In [27]:
first_race.session_status

                    Time     Status
0 0 days 00:00:08.309000   Inactive
1 0 days 00:15:00.206000    Started
2 0 days 00:23:22.566000    Aborted
3 0 days 00:33:25.722000   Inactive
4 0 days 00:35:00.204000    Started
5 0 days 01:15:00.231000   Finished
6 0 days 01:22:06.019000  Finalised
7 0 days 01:30:09.405000       Ends

In [28]:
first_race.track_status

                     Time Status   Message
0  0 days 00:13:05.932000      1  AllClear
1  0 days 00:13:05.932000      2    Yellow
2  0 days 00:13:05.932000      1  AllClear
3  0 days 00:13:05.932000      2    Yellow
4  0 days 00:13:05.932000      1  AllClear
5  0 days 00:21:10.486000      2    Yellow
6  0 days 00:22:21.544000      5       Red
7  0 days 00:32:48.697000      1  AllClear
8  0 days 00:49:14.371000      2    Yellow
9  0 days 00:49:23.757000      1  AllClear
10 0 days 00:58:16.485000      2    Yellow
11 0 days 00:58:23.668000      1  AllClear
12 0 days 01:21:58.478000      2    Yellow
13 0 days 01:22:05.841000      1  AllClear

In [29]:
laps = first_race.laps
laps.head()

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 00:20:19.908000,VER,1,NaT,1.0,1.0,0 days 00:18:33.392000,NaT,NaT,0 days 00:00:46.433000,...,True,Red Bull Racing,0 days 00:18:33.392000,NaT,1,NaN,False,,False,False
1,0 days 00:21:57.674000,VER,1,0 days 00:01:37.766000,2.0,1.0,NaT,NaT,0 days 00:00:30.695000,0 days 00:00:41.580000,...,True,Red Bull Racing,0 days 00:20:19.908000,NaT,12,NaN,False,,False,True
2,0 days 00:36:10.140000,VER,1,NaT,3.0,1.0,NaT,0 days 00:24:20.357000,0 days 00:00:47.032000,NaT,...,True,Red Bull Racing,0 days 00:21:57.674000,NaT,251,NaN,False,,False,False
3,0 days 00:38:04.834000,VER,1,NaT,4.0,2.0,0 days 00:36:10.140000,NaT,NaT,0 days 00:00:45.882000,...,True,Red Bull Racing,0 days 00:36:10.140000,NaT,1,NaN,False,,False,False
4,0 days 00:39:39.617000,VER,1,0 days 00:01:34.783000,5.0,2.0,NaT,NaT,0 days 00:00:30.119000,0 days 00:00:40.789000,...,True,Red Bull Racing,0 days 00:38:04.834000,NaT,1,NaN,False,,False,True

In [30]:
laps.columns

Index(['Time', 'Driver', 'DriverNumber', 'LapTime', 'LapNumber', 'Stint',
       'PitOutTime', 'PitInTime', 'Sector1Time', 'Sector2Time', 'Sector3Time',
       'Sector1SessionTime', 'Sector2SessionTime', 'Sector3SessionTime',
       'SpeedI1', 'SpeedI2', 'SpeedFL', 'SpeedST', 'IsPersonalBest',
       'Compound', 'TyreLife', 'FreshTyre', 'Team', 'LapStartTime',
       'LapStartDate', 'TrackStatus', 'Position', 'Deleted', 'DeletedReason',
       'FastF1Generated', 'IsAccurate'],
      dtype='object')

In [35]:
driver_1 = first_race.get_driver('1')

In [36]:
driver_1.head()

DriverNumber                   1
BroadcastName       M VERSTAPPEN
Abbreviation                 VER
DriverId          max_verstappen
TeamName         Red Bull Racing
Name: 1, dtype: object

In [43]:
first_race.session_info

{'Meeting': {'Key': 1124,
  'Name': 'Bahrain Grand Prix',
  'OfficialName': 'FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2022',
  'Location': 'Sakhir',
  'Country': {'Key': 36, 'Code': 'BRN', 'Name': 'Bahrain'},
  'Circuit': {'Key': 63, 'ShortName': 'Sakhir'}},
 'ArchiveStatus': {'Status': 'Generating'},
 'Key': 6979,
 'Type': 'Practice',
 'Number': 1,
 'Name': 'Practice 1',
 'StartDate': datetime.datetime(2022, 3, 18, 15, 0),
 'EndDate': datetime.datetime(2022, 3, 18, 16, 0),
 'GmtOffset': datetime.timedelta(seconds=10800),
 'Path': '2022/2022-03-20_Bahrain_Grand_Prix/2022-03-18_Practice_1/'}

In [44]:
first_race_results = first_race.results
first_race_results.head()

,DriverNumber,BroadcastName,Abbreviation,DriverId,TeamName,TeamColor,TeamId,FirstName,LastName,FullName,...,Position,ClassifiedPosition,GridPosition,Q1,Q2,Q3,Time,Status,Points,Laps
1,1,M VERSTAPPEN,VER,max_verstappen,Red Bull Racing,1e5bc6,red_bull,Max,Verstappen,Max Verstappen,...,NaN,,NaN,NaT,NaT,NaT,NaT,,NaN,NaN
3,3,D RICCIARDO,RIC,ricciardo,McLaren,f58020,mclaren,Daniel,Ricciardo,Daniel Ricciardo,...,NaN,,NaN,NaT,NaT,NaT,NaT,,NaN,NaN
4,4,L NORRIS,NOR,norris,McLaren,f58020,mclaren,Lando,Norris,Lando Norris,...,NaN,,NaN,NaT,NaT,NaT,NaT,,NaN,NaN
6,6,N LATIFI,LAT,latifi,Williams,37bedd,williams,Nicholas,Latifi,Nicholas Latifi,...,NaN,,NaN,NaT,NaT,NaT,NaT,,NaN,NaN
10,10,P GASLY,GAS,gasly,AlphaTauri,4e7c9b,alphatauri,Pierre,Gasly,Pierre Gasly,...,NaN,,NaN,NaT,NaT,NaT,NaT,,NaN,NaN

In [45]:
first_race_results.columns

Index(['DriverNumber', 'BroadcastName', 'Abbreviation', 'DriverId', 'TeamName',
       'TeamColor', 'TeamId', 'FirstName', 'LastName', 'FullName',
       'HeadshotUrl', 'CountryCode', 'Position', 'ClassifiedPosition',
       'GridPosition', 'Q1', 'Q2', 'Q3', 'Time', 'Status', 'Points', 'Laps'],
      dtype='object')

In [46]:
first_race_results.iloc[0, :]

DriverNumber                                                          1
BroadcastName                                              M VERSTAPPEN
Abbreviation                                                        VER
DriverId                                                 max_verstappen
TeamName                                                Red Bull Racing
TeamColor                                                        1e5bc6
TeamId                                                         red_bull
FirstName                                                           Max
LastName                                                     Verstappen
FullName                                                 Max Verstappen
HeadshotUrl           https://www.formula1.com/content/dam/fom-websi...
CountryCode                                                         NED
Position                                                            NaN
ClassifiedPosition
GridPosition                                                        NaN
Q1                                                                  NaT
Q2                                                                  NaT
Q3                                                                  NaT
Time                                                                NaT
Status
Points                                                              NaN
Laps                                                                NaN
Name: 1, dtype: object

In [48]:
race = ff1.get_session(2022, 1, 'R')
race.load()
race_results = race.results

_api        WARNING 	Driver 241: Position data is incomplete!
_api        WARNING 	Driver 242: Position data is incomplete!
core        WARNING 	Driver 16 completed the race distance 00:00.050000 before the recorded end of the session.

In [49]:
race_results.iloc[0, :]

DriverNumber                                                         16
BroadcastName                                                 C LECLERC
Abbreviation                                                        LEC
DriverId                                                        leclerc
TeamName                                                        Ferrari
TeamColor                                                        ed1c24
TeamId                                                          ferrari
FirstName                                                       Charles
LastName                                                        Leclerc
FullName                                                Charles Leclerc
HeadshotUrl           https://www.formula1.com/content/dam/fom-websi...
CountryCode                                                         MON
Position                                                            1.0
ClassifiedPosition                                                    1
GridPosition                                                        1.0
Q1                                                                  NaT
Q2                                                                  NaT
Q3                                                                  NaT
Time                                             0 days 01:37:33.584000
Status                                                         Finished
Points                                                             26.0
Laps                                                               57.0
Name: 16, dtype: object

In [50]:
laps = race.laps
laps.head()

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 01:04:15.340000,VER,1,0 days 00:01:40.236000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:42.325000,...,False,Red Bull Racing,0 days 01:02:34.872000,2022-03-20 15:03:34.889,1,2.0,False,,False,False
1,0 days 01:05:53.220000,VER,1,0 days 00:01:37.880000,2.0,1.0,NaT,NaT,0 days 00:00:31.285000,0 days 00:00:42.269000,...,False,Red Bull Racing,0 days 01:04:15.340000,2022-03-20 15:05:15.357,1,2.0,False,,False,True
2,0 days 01:07:31.577000,VER,1,0 days 00:01:38.357000,3.0,1.0,NaT,NaT,0 days 00:00:31.499000,0 days 00:00:42.474000,...,False,Red Bull Racing,0 days 01:05:53.220000,2022-03-20 15:06:53.237,1,2.0,False,,False,True
3,0 days 01:09:10.143000,VER,1,0 days 00:01:38.566000,4.0,1.0,NaT,NaT,0 days 00:00:31.342000,0 days 00:00:42.674000,...,False,Red Bull Racing,0 days 01:07:31.577000,2022-03-20 15:08:31.594,1,2.0,False,,False,True
4,0 days 01:10:49.020000,VER,1,0 days 00:01:38.877000,5.0,1.0,NaT,NaT,0 days 00:00:31.498000,0 days 00:00:42.854000,...,False,Red Bull Racing,0 days 01:09:10.143000,2022-03-20 15:10:10.160,1,2.0,False,,False,True

In [51]:
laps.columns

Index(['Time', 'Driver', 'DriverNumber', 'LapTime', 'LapNumber', 'Stint',
       'PitOutTime', 'PitInTime', 'Sector1Time', 'Sector2Time', 'Sector3Time',
       'Sector1SessionTime', 'Sector2SessionTime', 'Sector3SessionTime',
       'SpeedI1', 'SpeedI2', 'SpeedFL', 'SpeedST', 'IsPersonalBest',
       'Compound', 'TyreLife', 'FreshTyre', 'Team', 'LapStartTime',
       'LapStartDate', 'TrackStatus', 'Position', 'Deleted', 'DeletedReason',
       'FastF1Generated', 'IsAccurate'],
      dtype='object')

In [53]:
laps.iloc[4, :]

Time                      0 days 01:10:49.020000
Driver                                       VER
DriverNumber                                   1
LapTime                   0 days 00:01:38.877000
LapNumber                                    5.0
Stint                                        1.0
PitOutTime                                   NaT
PitInTime                                    NaT
Sector1Time               0 days 00:00:31.498000
Sector2Time               0 days 00:00:42.854000
Sector3Time               0 days 00:00:24.525000
Sector1SessionTime        0 days 01:09:41.678000
Sector2SessionTime        0 days 01:10:24.532000
Sector3SessionTime        0 days 01:10:49.057000
SpeedI1                                    229.0
SpeedI2                                    256.0
SpeedFL                                    276.0
SpeedST                                    293.0
IsPersonalBest                             False
Compound                                    SOFT
TyreLife                                     8.0
FreshTyre                                  False
Team                             Red Bull Racing
LapStartTime              0 days 01:09:10.143000
LapStartDate          2022-03-20 15:10:10.160000
TrackStatus                                    1
Position                                     2.0
Deleted                                    False
DeletedReason
FastF1Generated                            False
IsAccurate                                  True
Name: 4, dtype: object

In [57]:
type(race.total_laps)

int

In [55]:
race.weather_data

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:01:03.204000,25.6,17.0,1010.2,False,32.3,346,0.5
1,0 days 00:02:03.202000,25.7,17.0,1010.2,False,32.3,347,0.6
2,0 days 00:03:03.205000,25.7,17.0,1010.0,False,32.2,359,0.4
3,0 days 00:04:03.220000,25.7,17.0,1010.2,False,32.2,8,0.4
4,0 days 00:05:03.218000,25.6,17.0,1010.0,False,32.1,16,0.5
...,...,...,...,...,...,...,...,...
158,0 days 02:39:03.722000,22.4,36.0,1010.7,False,26.3,243,0.3
159,0 days 02:40:03.752000,22.3,36.0,1010.7,False,26.3,203,0.2
160,0 days 02:41:03.740000,22.3,35.0,1010.7,False,26.3,225,0.1
161,0 days 02:42:03.720000,22.3,35.0,1010.7,False,26.3,232,0.3
162,0 days 02:43:03.726000,22.3,34.0,1010.7,False,26.3,166,0.2

In [58]:
race.weather_data.iloc[4, :]

Time             0 days 00:05:03.218000
AirTemp                            25.6
Humidity                           17.0
Pressure                         1010.0
Rainfall                          False
TrackTemp                          32.1
WindDirection                        16
WindSpeed                           0.5
Name: 4, dtype: object

In [59]:
race.session_status

                    Time     Status
0 0 days 00:00:11.406000   Inactive
1 0 days 01:02:34.872000    Started
2 0 days 02:40:08.714000   Finished
3 0 days 02:43:08.491000  Finalised
4 0 days 02:43:31.107000       Ends

In [64]:
race.car_data.keys()

dict_keys(['16', '55', '44', '63', '20', '77', '31', '22', '14', '24', '47', '18', '23', '3', '4', '6', '27', '11', '1', '10'])

In [ ]:
race.car_data['16']

,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Time,SessionTime
0,2022-03-20 14:01:03.298,0.0,0.0,0,104.0,True,1,car,0 days 00:00:03.281000,0 days 00:00:03.281000
1,2022-03-20 14:01:03.498,0.0,0.0,0,104.0,True,1,car,0 days 00:00:03.481000,0 days 00:00:03.481000
2,2022-03-20 14:01:03.738,0.0,0.0,0,104.0,True,1,car,0 days 00:00:03.721000,0 days 00:00:03.721000
3,2022-03-20 14:01:04.178,0.0,0.0,0,104.0,True,1,car,0 days 00:00:04.161000,0 days 00:00:04.161000
4,2022-03-20 14:01:04.418,0.0,0.0,0,104.0,True,1,car,0 days 00:00:04.401000,0 days 00:00:04.401000
...,...,...,...,...,...,...,...,...,...,...
36651,2022-03-20 16:44:07.365,0.0,0.0,0,0.0,False,0,car,0 days 02:43:07.348000,0 days 02:43:07.348000
36652,2022-03-20 16:44:07.645,0.0,0.0,0,0.0,False,0,car,0 days 02:43:07.628000,0 days 02:43:07.628000
36653,2022-03-20 16:44:07.885,0.0,0.0,0,0.0,False,0,car,0 days 02:43:07.868000,0 days 02:43:07.868000
36654,2022-03-20 16:44:08.164,0.0,0.0,0,0.0,False,0,car,0 days 02:43:08.147000,0 days 02:43:08.147000
36655,2022-03-20 16:44:08.324,0.0,0.0,0,0.0,False,0,car,0 days 02:43:08.307000,0 days 02:43:08.307000

In [66]:
type(race.car_data['16'])

fastf1.core.Telemetry

In [67]:
race.track_status

                    Time Status      Message
0 0 days 00:13:36.667000      1     AllClear
1 0 days 01:25:49.895000      2       Yellow
2 0 days 01:25:58.557000      1     AllClear
3 0 days 02:17:19.828000      6  VSCDeployed
4 0 days 02:17:39.726000      4   SCDeployed
5 0 days 02:28:54.157000      1     AllClear
6 0 days 02:38:53.199000      2       Yellow

In [69]:
race.session_start_time

datetime.timedelta(seconds=3754, microseconds=872000)

In [70]:
race.race_control_messages

,Time,Category,Message,Status,Flag,Scope,Sector,RacingNumber,Lap
0,2022-03-20 14:20:01,Flag,GREEN LIGHT - PIT EXIT OPEN,None,GREEN,Track,NaN,None,1
1,2022-03-20 14:30:01,Other,PIT EXIT CLOSED,None,None,None,NaN,None,1
2,2022-03-20 14:45:05,Other,RISK OF RAIN FOR F1 RACE IS 0%,None,None,None,NaN,None,1
3,2022-03-20 14:57:07,Drs,DRS DISABLED,DISABLED,None,None,NaN,None,1
4,2022-03-20 15:03:35,Flag,GREEN LIGHT - PIT EXIT OPEN,None,GREEN,Track,NaN,None,1
5,2022-03-20 15:05:33,Other,TURN 6 INCIDENT INVOLVING CARS 31 (OCO) AND 47...,None,None,None,NaN,None,2
6,2022-03-20 15:06:52,Other,FIA STEWARDS: TURN 6 INCIDENT INVOLVING CARS 3...,None,None,None,NaN,None,3
7,2022-03-20 15:06:56,Drs,DRS ENABLED,ENABLED,None,None,NaN,None,3
8,2022-03-20 15:07:37,Other,TURN 4 INCIDENT INVOLVING CARS 18 (STR) AND 4 ...,None,None,None,NaN,None,3
9,2022-03-20 15:09:32,Other,CAR 4 (NOR) TIME 1:42.279 DELETED - TRACK LIMI...,None,None,None,NaN,None,4
10,2022-03-20 15:12:20,Other,FIA STEWARDS: 5 SECOND TIME PENALTY FOR CAR 31...,None,None,None,NaN,None,6
11,2022-03-20 15:15:07,Other,FIA STEWARDS: TURN 4 INCIDENT INVOLVING CARS 1...,None,None,None,NaN,None,8
12,2022-03-20 15:18:16,CarEvent,CAR 27 (HUL) OFF TRACK AND CONTINUED AT TURN 1,None,None,None,NaN,27,9
13,2022-03-20 15:26:50,Flag,YELLOW IN TRACK SECTOR 4,None,YELLOW,Sector,4.0,None,15
14,2022-03-20 15:26:51,Other,DRS DISABLED IN ZONE 1,None,None,None,NaN,None,15
15,2022-03-20 15:26:58,Flag,CLEAR IN TRACK SECTOR 4,None,CLEAR,Sector,4.0,None,15
16,2022-03-20 15:26:58,Other,DRS ENABLED IN ZONE 1,None,None,None,NaN,None,15
17,2022-03-20 15:45:59,Other,CAR 22 (TSU) TIME 1:40.376 DELETED - TRACK LIM...,None,None,None,NaN,None,26
18,2022-03-20 15:49:59,Flag,WAVED BLUE FLAG FOR CAR 27 (HUL) TIMED AT 18:4...,None,BLUE,Driver,NaN,27,29
19,2022-03-20 15:51:22,CarEvent,CAR 23 (ALB) OFF TRACK AND CONTINUED AT TURN 10,None,None,None,NaN,23,29
20,2022-03-20 15:52:13,Flag,WAVED BLUE FLAG FOR CAR 27 (HUL) TIMED AT 18:5...,None,BLUE,Driver,NaN,27,30
21,2022-03-20 15:52:28,Flag,WAVED BLUE FLAG FOR CAR 6 (LAT) TIMED AT 18:52:28,None,BLUE,Driver,NaN,6,30
22,2022-03-20 15:54:22,Flag,WAVED BLUE FLAG FOR CAR 4 (NOR) TIMED AT 18:54:21,None,BLUE,Driver,NaN,4,31
23,2022-03-20 15:54:27,Flag,WAVED BLUE FLAG FOR CAR 3 (RIC) TIMED AT 18:54:26,None,BLUE,Driver,NaN,3,31
24,2022-03-20 15:57:40,Flag,WAVED BLUE FLAG FOR CAR 4 (NOR) TIMED AT 18:57:40,None,BLUE,Driver,NaN,4,33
25,2022-03-20 15:58:52,Flag,WAVED BLUE FLAG FOR CAR 6 (LAT) TIMED AT 18:58:52,None,BLUE,Driver,NaN,6,34
26,2022-03-20 15:59:21,Flag,WAVED BLUE FLAG FOR CAR 6 (LAT) TIMED AT 18:59:21,None,BLUE,Driver,NaN,6,34
27,2022-03-20 16:00:41,Flag,WAVED BLUE FLAG FOR CAR 27 (HUL) TIMED AT 19:0...,None,BLUE,Driver,NaN,27,35
28,2022-03-20 16:00:44,Other,CAR 44 (HAM) TIME 1:37.593 DELETED - TRACK LIM...,None,None,None,NaN,None,35
29,2022-03-20 16:00:59,Flag,WAVED BLUE FLAG FOR CAR 27 (HUL) TIMED AT 19:0...,None,BLUE,Driver,NaN,27,35
30,2022-03-20 16:01:06,Flag,WAVED BLUE FLAG FOR CAR 4 (NOR) TIMED AT 19:01:05,None,BLUE,Driver,NaN,4,35
31,2022-03-20 16:01:23,Flag,WAVED BLUE FLAG FOR CAR 3 (RIC) TIMED AT 19:01:22,None,BLUE,Driver,NaN,3,35
32,2022-03-20 16:01:53,Flag,WAVED BLUE FLAG FOR CAR 3 (RIC) TIMED AT 19:01:53,None,BLUE,Driver,NaN,3,36
33,2022-03-20 16:01:55,Flag,WAVED BLUE FLAG FOR CAR 4 (NOR) TIMED AT 19:01:55,None,BLUE,Driver,NaN,4,36
34,2022-03-20 16:03:40,Flag,WAVED BLUE FLAG FOR CAR 23 (ALB) TIMED AT 19:0...,None,BLUE,Driver,NaN,23,37
35,2022-03-20 16:03:56,Flag,WAVED BLUE FLAG FOR CAR 23 (ALB) TIMED AT 19:0...,None,BLUE,Driver,NaN,23,37
36,2022-03-20 16:06:00,Flag,WAVED BLUE FLAG FOR CAR 6 (LAT) TIMED AT 19:06:00,None,BLUE,Driver,NaN,6,38
37,2022-03-20 16:06:46,Flag,WAVED BLUE FLAG FOR CAR 27 (HUL) TIMED AT 19:0...,None,BLUE,Driver,NaN,27,39
38,2022-03-20 16:09:32,Flag,WAVED BLUE FLAG FOR CAR 4 (NOR) TIMED AT 19:09:32,None,BLUE,Driver,NaN,4,40
39,2022-03-20 16:10:35,Flag,WAVED BLUE FLAG FOR CAR 4 (NOR) TIMED AT 19:10:34,None,BLUE,Driver,NaN,4,41
40,2022-03-20 16:12:50,Other,CAR 14 (ALO) TIME 1:39.854 DELETED - TRACK LIM...,None,None,None,NaN,None,42
41,2022-03-20 16:13:58,Flag,WAVED BLUE FLAG FOR CAR 4 (NOR) TIMED AT 19:13:57,None,BLUE,Driver,NaN,4,43
42,2022-03-20 16:14:14,Flag,WAVED BLUE FLAG FOR CAR 3 (RIC) TIMED AT 19:14:13,None,BLUE,Driver,NaN,3,43
43,2022-03-20 16:15:01,Flag,WAVED BLUE FLAG FOR CAR 27 (HUL) TIMED AT 19:1...,None,BLUE,Driver,NaN,27,44
44,2022-03-20 16:16:39,Flag,WAVED BLUE FLAG FOR CAR 6 (LAT) TIMED AT 19:16:39,None,BLUE,Driver,NaN,6,45
45,2022-03-20 16:17:13,Flag,WAVED BLUE FLAG FOR CAR 3 (RIC) TIMED AT 19:17:12,None,BLUE,Driver,NaN,3,45
46,2022-03-20 16:18:03,Flag,WAVED BLUE FLAG FOR CAR 23 (ALB) TIMED AT 19:1...,None,BLUE,Driver,NaN,23,46
47,2022-03-20 16:18:20,SafetyCar,VIRTUAL SAFETY CAR DEPLOYED,DEPLOYED,None,None,NaN,None,46
48,2022-03-20 16:18:40,SafetyCar,SAFETY CAR DEPLOYED,DEPLOYED,None,None,NaN,None,46
49,2022-03-20 16:26:11,Other,LAPPED CARS MAY NOW OVERTAKE THE SAFETY CAR: 1...,None,None,None,NaN,None,49
50,2022-03-20 16:28:00,SafetyCar,SAFETY CAR IN THIS LAP,IN THIS LAP,None,None,NaN,None,50
51,2022-03-20 16:29:54,Flag,TRACK CLEAR,None,CLEAR,Track,NaN,None,50
52,2022-03-20 16:33:16,Drs,DRS ENABLED,ENABLED,None,None,NaN,None,53
53,2022-03-20 16:39:53,Flag,DOUBLE YELLOW IN TRACK SECTOR 2,None,DOUBLE YELLOW,Sector,2.0,None,57
54,2022-03-20 16:39:54,Other,DRS DISABLED IN ZONE 3,None,None,None,NaN,None,57
55,2022-03-20 16:40:16,Flag,DOUBLE YELLOW IN TRACK SECTOR 1,None,DOUBLE YELLOW,Sector,1.0,None,57
56,2022-03-20 16:41:06,Flag,CHEQUERED FLAG,None,CHEQUERED,Track,NaN,None,57
57,2022-03-20 16:43:51,Flag,CLEAR IN TRACK SECTOR 2,None,CLEAR,Sector,2.0,None,57
58,2022-03-20 16:44:31,Flag,CLEAR IN TRACK SECTOR 1,None,CLEAR,Sector,1.0,None,57
59,2022-03-20 16:44:31,Other,DRS ENABLED IN ZONE 3,None,None,None,NaN,None,57

In [71]:
race.race_control_messages.shape

(60, 9)

In [72]:
race.race_control_messages.iloc[7, :]

Time            2022-03-20 15:06:56
Category                        Drs
Message                 DRS ENABLED
Status                      ENABLED
Flag                           None
Scope                          None
Sector                          NaN
RacingNumber                   None
Lap                               3
Name: 7, dtype: object

In [73]:
race.t0_date

Timestamp('2022-03-20 14:01:00.017000')

In [74]:
race.get_driver('44')

DriverNumber                                                         44
BroadcastName                                                L HAMILTON
Abbreviation                                                        HAM
DriverId                                                       hamilton
TeamName                                                       Mercedes
TeamColor                                                        6cd3bf
TeamId                                                         mercedes
FirstName                                                         Lewis
LastName                                                       Hamilton
FullName                                                 Lewis Hamilton
HeadshotUrl           https://www.formula1.com/content/dam/fom-websi...
CountryCode                                                         GBR
Position                                                            3.0
ClassifiedPosition                                                    3
GridPosition                                                        5.0
Q1                                                                  NaT
Q2                                                                  NaT
Q3                                                                  NaT
Time                                             0 days 00:00:09.675000
Status                                                         Finished
Points                                                             15.0
Laps                                                               57.0
Name: 44, dtype: object

In [75]:
first_race.get_driver('44')

DriverNumber                                                         44
BroadcastName                                                L HAMILTON
Abbreviation                                                        HAM
DriverId                                                       hamilton
TeamName                                                       Mercedes
TeamColor                                                        6cd3bf
TeamId                                                         mercedes
FirstName                                                         Lewis
LastName                                                       Hamilton
FullName                                                 Lewis Hamilton
HeadshotUrl           https://www.formula1.com/content/dam/fom-websi...
CountryCode                                                         GBR
Position                                                            NaN
ClassifiedPosition
GridPosition                                                        NaN
Q1                                                                  NaT
Q2                                                                  NaT
Q3                                                                  NaT
Time                                                                NaT
Status
Points                                                              NaN
Laps                                                                NaN
Name: 44, dtype: object

In [76]:
race.drivers

['16',
 '55',
 '44',
 '63',
 '20',
 '77',
 '31',
 '22',
 '14',
 '24',
 '47',
 '18',
 '23',
 '3',
 '4',
 '6',
 '27',
 '11',
 '1',
 '10']

In [78]:
circuit_info = race.get_circuit_info()

In [79]:
type(circuit_info)

fastf1.mvapi.data.CircuitInfo

In [81]:
circuit_info.corners.head()

             X            Y  Number Letter       Angle     Distance
0    42.405939  8329.202564       1        -246.615311   715.631965
1   820.781621  7879.043841       2        -101.177469   805.574284
2  1912.969997  8065.442167       3        -261.394562   931.954036
3  7487.745293  6790.710716       4        -349.599066  1508.776533
4  5820.228443  4860.740936       5        -211.501597  1787.334524

In [1]:
import fastf1 as ff1

In [ ]:
session = ff1.get_session(2022, 'Monaco', 'Q')
session.load(laps=False, telemetry=False, weather=False, messages=False)

req         WARNING 	DEFAULT CACHE ENABLED! (30.0 KB) /Users/pbadve/Library/Caches/fastf1
core           INFO 	Loading data for Monaco Grand Prix - Qualifying [v3.6.1]
req            INFO 	No cached data found for session_info. Loading data...
_api           INFO 	Fetching session info data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for driver_info. Loading data...
_api           INFO 	Fetching driver list...
req            INFO 	Data has been written to cache!
core           INFO 	Finished loading data for 20 drivers: ['16', '55', '11', '1', '4', '63', '14', '44', '5', '31', '22', '77', '20', '3', '47', '23', '10', '18', '6', '24']

In [3]:
session.event

RoundNumber                                            7
Country                                           Monaco
Location                                          Monaco
OfficialEventName    FORMULA 1 GRAND PRIX DE MONACO 2022
EventDate                            2022-05-29 00:00:00
EventName                              Monaco Grand Prix
EventFormat                                 conventional
Session1                                      Practice 1
Session1Date                   2022-05-27 14:00:00+02:00
Session1DateUtc                      2022-05-27 12:00:00
Session2                                      Practice 2
Session2Date                   2022-05-27 17:00:00+02:00
Session2DateUtc                      2022-05-27 15:00:00
Session3                                      Practice 3
Session3Date                   2022-05-28 13:00:00+02:00
Session3DateUtc                      2022-05-28 11:00:00
Session4                                      Qualifying
Session4Date                   2022-05-28 16:00:00+02:00
Session4DateUtc                      2022-05-28 14:00:00
Session5                                            Race
Session5Date                   2022-05-29 15:00:00+02:00
Session5DateUtc                      2022-05-29 13:00:00
F1ApiSupport                                        True
Name: 8, dtype: object

In [4]:
session.name

'Qualifying'

In [5]:
session.date

Timestamp('2022-05-28 14:00:00')

In [6]:
type(session.date)

pandas._libs.tslibs.timestamps.Timestamp

In [7]:
import pandas as pd

In [8]:
sample = pd.Timestamp('2022-05-28 14:00:00')

In [9]:
sample

Timestamp('2022-05-28 14:00:00')

In [10]:
session.laps

DataNotLoadedError: The data you are trying to access has not been loaded yet. See `Session.load`

In [11]:
session.load(laps=True, telemetry=False, weather=False, messages=False)

core           INFO 	Loading data for Monaco Grand Prix - Qualifying [v3.6.1]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	No cached data found for session_status_data. Loading data...
_api           INFO 	Fetching session status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for track_status_data. Loading data...
_api           INFO 	Fetching track status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for _extended_timing_data. Loading data...
_api           INFO 	Fetching timing data...
_api           INFO 	Parsing timing data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for timing_app_data. Loading data...
_api           INFO 	Fetching timing app data...
req            INFO 	Data has been written to cache!
core           INFO 	Processing timing data...
core           INFO 	Finished loading data for 20 drivers: ['16', '55', '11', '1', '4', '63', '14', '44', '5', '31', '22', '77', '20', '3', '47', '23', '10', '18', '6', '24']

In [12]:
laps = session.laps

In [13]:
laps.shape

(404, 31)

In [14]:
fastest_lap = laps.pick_fastest()
fastest_lap

Time                  0 days 01:10:44.478000
Driver                                   LEC
DriverNumber                              16
LapTime               0 days 00:01:11.376000
LapNumber                               20.0
Stint                                    4.0
PitOutTime                               NaT
PitInTime                                NaT
Sector1Time           0 days 00:00:18.872000
Sector2Time           0 days 00:00:33.738000
Sector3Time           0 days 00:00:18.766000
Sector1SessionTime    0 days 01:09:51.974000
Sector2SessionTime    0 days 01:10:25.712000
Sector3SessionTime    0 days 01:10:44.478000
SpeedI1                                220.0
SpeedI2                                205.0
SpeedFL                                268.0
SpeedST                                279.0
IsPersonalBest                          True
Compound                                SOFT
TyreLife                                 2.0
FreshTyre                               True
Team                                 Ferrari
LapStartTime          0 days 01:09:33.102000
LapStartDate                             NaT
TrackStatus                                1
Position                                 NaN
Deleted                                 None
DeletedReason
FastF1Generated                        False
IsAccurate                              True
Name: 19, dtype: object

In [15]:
fastest_lap['Driver']

'LEC'

In [16]:
session.load()

core           INFO 	Loading data for Monaco Grand Prix - Qualifying [v3.6.1]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	No cached data found for car_data. Loading data...
_api           INFO 	Fetching car data...
_api           INFO 	Parsing car data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for position_data. Loading data...
_api           INFO 	Fetching position data...
_api           INFO 	Parsing position data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for weather_data. Loading data...
_api           INFO 	Fetching weather data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for race_control_messages. Loading data...
_api           INFO 	Fetching race control messages...
req            INFO 	Data has been written to cache!
core           INFO 	Finished loading data for 20 drivers: ['16', '55', '11', '1', '4', '63', '14', '44', '5', '31', '22', '77', '20', '3', '47', '23', '10', '18', '6', '24']

In [17]:
tele = fastest_lap.get_telemetry()
tele.head()

,Date,SessionTime,DriverAhead,DistanceToDriverAhead,Time,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Distance,RelativeDistance,Status,X,Y,Z
2,2022-05-28 14:54:33.496,0 days 01:09:33.102000,,1318.349722,0 days 00:00:00,11155.509517,275.566040,7,100.0,False,12,interpolation,0.017997,0.000005,OnTrack,-7666.210804,-6550.414567,501.520016
3,2022-05-28 14:54:33.625,0 days 01:09:33.231000,,1318.349722,0 days 00:00:00.129000,11248.000000,278.000000,7,100.0,False,12,car,9.986667,0.003051,OnTrack,-7671.287846,-6469.357702,501.917955
4,2022-05-28 14:54:33.641,0 days 01:09:33.247000,,1318.349722,0 days 00:00:00.145000,11246.700000,278.200000,7,100.0,False,12,pos,11.227293,0.003430,OnTrack,-7672.000000,-6458.000000,502.000000
5,2022-05-28 14:54:33.785,0 days 01:09:33.391000,5,1318.349722,0 days 00:00:00.289000,11235.000000,280.000000,7,100.0,False,12,car,22.431111,0.006853,OnTrack,-7678.509843,-6346.289738,502.924001
6,2022-05-28 14:54:33.801,0 days 01:09:33.407000,5,1317.598611,0 days 00:00:00.305000,11242.466667,280.133333,7,100.0,False,12,pos,23.679449,0.007234,OnTrack,-7679.000000,-6334.000000,503.000000

In [18]:
tele.shape

(535, 18)

In [19]:
weather = session.weather_data
weather.shape

(81, 8)