In [1]:
import sys
from pathlib import Path

current = Path.cwd()

indicators = [
    '.git', 'pyproject.toml'
]

for parent in [current] + list(current.parents):
    if any((parent / indicator).exists() for indicator in indicators):
        project_root = parent

sys.path.insert(0, str(project_root))

In [2]:
import pandas as pd
from src.data_ingestion.fastf1_client import FastF1Client

In [3]:
client = FastF1Client()

In [4]:
session = client.get_session(2019, "Monza", "R")
session.load(laps=True, telemetry=True, weather=False, messages=False)

core           INFO 	Loading data for Italian Grand Prix - Race [v3.6.1]
req            INFO 	No cached data found for session_info. Loading data...
_api           INFO 	Fetching session info data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for driver_info. Loading data...
_api           INFO 	Fetching driver list...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for session_status_data. Loading data...
_api           INFO 	Fetching session status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for lap_count. Loading data...
_api           INFO 	Fetching lap count data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for track_status_data. Loading data...
_api           INFO 	Fetching track status data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for _extended_timing_data. Loading data...
_api           INFO 	Fetching timing data...
_api           INFO 	Parsing timing data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for timing_app_data. Loading data...
_api           INFO 	Fetching timing app data...
req            INFO 	Data has been written to cache!
core           INFO 	Processing timing data...
req            INFO 	No cached data found for car_data. Loading data...
_api           INFO 	Fetching car data...
_api           INFO 	Parsing car data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for position_data. Loading data...
_api           INFO 	Fetching position data...
_api           INFO 	Parsing position data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for weather_data. Loading data...
_api           INFO 	Fetching weather data...
req            INFO 	Data has been written to cache!
req            INFO 	No cached data found for race_control_messages. Loading data...
_api           INFO 	Fetching race control messages...
req            INFO 	Data has been written to cache!
core        WARNING 	Driver 16 completed the race distance 00:00.092000 before the recorded end of the session.
core           INFO 	Finished loading data for 20 drivers: ['16', '77', '44', '3', '27', '23', '11', '33', '99', '4', '10', '18', '5', '63', '7', '8', '88', '20', '26', '55']
core           INFO 	Loading data for Italian Grand Prix - Race [v3.6.1]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
core        WARNING 	Driver 16 completed the race distance 00:00.092000 before the recorded end of the session.
core           INFO 	Finished loading data for 20 drivers: ['16', '77', '44', '3', '27', '23', '11', '33', '99', '4', '10', '18', '5', '63', '7', '8', '88', '20', '26', '55']

In [5]:
laps = session.laps
laps.head()

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 00:34:55.112000,GAS,10,0 days 00:01:34.820000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:31.637000,...,True,Toro Rosso,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,14.0,False,,False,False
1,0 days 00:36:22.552000,GAS,10,0 days 00:01:27.440000,2.0,1.0,NaT,NaT,0 days 00:00:28.465000,0 days 00:00:30.036000,...,True,Toro Rosso,0 days 00:34:55.112000,2019-09-08 13:14:56.439,1,13.0,False,,False,True
2,0 days 00:37:49.865000,GAS,10,0 days 00:01:27.313000,3.0,1.0,NaT,NaT,0 days 00:00:28.488000,0 days 00:00:29.415000,...,True,Toro Rosso,0 days 00:36:22.552000,2019-09-08 13:16:23.879,12,13.0,False,,False,True
3,0 days 00:39:16.986000,GAS,10,0 days 00:01:27.121000,4.0,1.0,NaT,NaT,0 days 00:00:28.257000,0 days 00:00:29.857000,...,True,Toro Rosso,0 days 00:37:49.865000,2019-09-08 13:17:51.192,1,13.0,False,,False,True
4,0 days 00:40:43.501000,GAS,10,0 days 00:01:26.515000,5.0,1.0,NaT,NaT,0 days 00:00:28.415000,0 days 00:00:29.201000,...,True,Toro Rosso,0 days 00:39:16.986000,2019-09-08 13:19:18.313,1,13.0,False,,False,True

In [6]:
track_status = session.track_status
track_status.head()

                    Time Status   Message
0 0 days 00:08:06.272000      1  AllClear
1 0 days 00:33:37.039000      2    Yellow
2 0 days 00:33:40.003000      1  AllClear
3 0 days 00:37:05.594000      2    Yellow
4 0 days 00:37:09.759000      1  AllClear

In [8]:
track_status

                     Time Status      Message
0  0 days 00:08:06.272000      1     AllClear
1  0 days 00:33:37.039000      2       Yellow
2  0 days 00:33:40.003000      1     AllClear
3  0 days 00:37:05.594000      2       Yellow
4  0 days 00:37:09.759000      1     AllClear
5  0 days 00:41:34.800000      2       Yellow
6  0 days 00:41:55.548000      1     AllClear
7  0 days 01:12:57.265000      2       Yellow
8  0 days 01:13:27.092000      6  VSCDeployed
9  0 days 01:14:08.119000      7    VSCEnding
10 0 days 01:14:20.568000      1     AllClear
11 0 days 01:16:17.115000      2       Yellow
12 0 days 01:16:30.375000      6  VSCDeployed
13 0 days 01:17:34.771000      7    VSCEnding
14 0 days 01:17:49.029000      1     AllClear

In [9]:
session_status = session.session_status
print(session_status.shape)

(5, 2)

In [10]:
session_status

                    Time     Status
0 0 days 00:00:05.314000   Inactive
1 0 days 00:33:20.098000    Started
2 0 days 01:48:47.049000   Finished
3 0 days 01:51:29.802000  Finalised
4 0 days 01:51:31.689000       Ends

In [11]:
messages = session.race_control_messages

In [12]:
messages.head()

,Time,Category,Message,Status,Flag,Scope,Sector,RacingNumber,Lap
0,2019-09-08 12:55:04,Other,RISK OF RAIN FOR F1 RACE IS 10%,None,None,None,NaN,None,1
1,2019-09-08 13:07:07,Drs,DRS DISABLED,DISABLED,None,None,NaN,None,1
2,2019-09-08 13:13:21,Flag,GREEN LIGHT - PIT EXIT OPEN,None,GREEN,Track,NaN,None,1
3,2019-09-08 13:13:38,Flag,DOUBLE YELLOW IN TRACK SECTOR 3,None,DOUBLE YELLOW,Sector,3.0,None,1
4,2019-09-08 13:13:41,Flag,CLEAR IN TRACK SECTOR 3,None,CLEAR,Sector,3.0,None,1

In [13]:
sample_lap = laps.iloc[3, :]
sample_lap

Time                      0 days 00:39:16.986000
Driver                                       GAS
DriverNumber                                  10
LapTime                   0 days 00:01:27.121000
LapNumber                                    4.0
Stint                                        1.0
PitOutTime                                   NaT
PitInTime                                    NaT
Sector1Time               0 days 00:00:28.257000
Sector2Time               0 days 00:00:29.857000
Sector3Time               0 days 00:00:29.007000
Sector1SessionTime        0 days 00:38:18.153000
Sector2SessionTime        0 days 00:38:48.010000
Sector3SessionTime        0 days 00:39:17.017000
SpeedI1                                    308.0
SpeedI2                                    322.0
SpeedFL                                    303.0
SpeedST                                    338.0
IsPersonalBest                              True
Compound                                  MEDIUM
TyreLife                                     4.0
FreshTyre                                   True
Team                                  Toro Rosso
LapStartTime              0 days 00:37:49.865000
LapStartDate          2019-09-08 13:17:51.192000
TrackStatus                                    1
Position                                    13.0
Deleted                                    False
DeletedReason
FastF1Generated                            False
IsAccurate                                  True
Name: 3, dtype: object

In [14]:
telemetry_sample_lap = sample_lap.get_telemetry()
telemetry_sample_lap.head()

,Date,SessionTime,DriverAhead,DistanceToDriverAhead,Time,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Distance,RelativeDistance,Status,X,Y,Z
2,2019-09-08 13:17:51.192,0 days 00:37:49.865000,,68.845556,0 days 00:00:00,11116.000000,309.208333,8,100.0,False,10,interpolation,0.003250,5.613990e-07,OnTrack,-1417.598812,-988.100707,1871.045613
3,2019-09-08 13:17:51.382,0 days 00:37:50.055000,,68.845556,0 days 00:00:00.190000,11116.000000,310.000000,8,100.0,False,8,car,16.375000,2.828660e-03,OnTrack,-1399.661745,-807.243973,1871.617504
4,2019-09-08 13:17:51.458,0 days 00:37:50.131000,,68.845556,0 days 00:00:00.266000,11128.666624,310.633331,8,100.0,False,8,pos,22.946294,3.963803e-03,OnTrack,-1393.000000,-739.000000,1872.000000
5,2019-09-08 13:17:51.622,0 days 00:37:50.295000,26,68.845556,0 days 00:00:00.430000,11156.000000,312.000000,8,100.0,False,8,car,37.175000,6.421707e-03,OnTrack,-1379.617489,-599.689105,1873.120834
6,2019-09-08 13:17:51.758,0 days 00:37:50.431000,26,69.336667,0 days 00:00:00.566000,11226.833333,313.133333,8,100.0,False,8,pos,49.031642,8.469854e-03,OnTrack,-1369.000000,-490.000000,1874.000000

In [15]:
telemetry_sample_lap.Source.value_counts()

Source
car              357
pos              293
interpolation      2
Name: count, dtype: int64

In [16]:
car_data_sample_lap = sample_lap.get_car_data()
pos_data_sample_lap = sample_lap.get_pos_data()

In [17]:
car_data_sample_lap.Source.value_counts()

Source
car    357
Name: count, dtype: int64

In [18]:
pos_data_sample_lap.Source.value_counts()

Source
pos    293
Name: count, dtype: int64

In [19]:
filepath = "/Volumes/ExternalSSD/My Projects/Data Science Projects/f1_ds_project/data/raw/2023/Abu Dhabi Grand Prix/R/laps.parquet"
laps_file = pd.read_parquet(filepath)

In [20]:
laps_file.head()

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,LapTimeSeconds,EventName,SessionName,SessionDate
0,0 days 01:03:56.965000,VER,1,0 days 00:01:32.190000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:38.769000,...,1,1.0,False,,False,False,92.190,Abu Dhabi Grand Prix,Race,2023-11-26 13:00:00
1,0 days 01:05:27.675000,VER,1,0 days 00:01:30.710000,2.0,1.0,NaT,NaT,0 days 00:00:18.377000,0 days 00:00:38.691000,...,1,1.0,False,,False,True,90.710,Abu Dhabi Grand Prix,Race,2023-11-26 13:00:00
2,0 days 01:06:58.083000,VER,1,0 days 00:01:30.408000,3.0,1.0,NaT,NaT,0 days 00:00:18.549000,0 days 00:00:38.725000,...,1,1.0,False,,False,True,90.408,Abu Dhabi Grand Prix,Race,2023-11-26 13:00:00
3,0 days 01:08:28.799000,VER,1,0 days 00:01:30.716000,4.0,1.0,NaT,NaT,0 days 00:00:18.562000,0 days 00:00:38.810000,...,1,1.0,False,,False,True,90.716,Abu Dhabi Grand Prix,Race,2023-11-26 13:00:00
4,0 days 01:09:59.351000,VER,1,0 days 00:01:30.552000,5.0,1.0,NaT,NaT,0 days 00:00:18.599000,0 days 00:00:38.714000,...,1,1.0,False,,False,True,90.552,Abu Dhabi Grand Prix,Race,2023-11-26 13:00:00

In [22]:
filepath = "/Volumes/ExternalSSD/My Projects/Data Science Projects/f1_ds_project/data/raw/2023/Abu Dhabi Grand Prix/R/weather.parquet"
loaded_weather = pd.read_parquet(filepath)

In [23]:
loaded_weather.head()

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed,EventName,SessionName,SessionDate
0,0 days 00:00:06.172000,27.7,49.0,1014.4,False,38.2,358,3.0,Abu Dhabi Grand Prix,Race,2023-11-26 13:00:00
1,0 days 00:01:06.171000,27.7,49.0,1014.2,False,38.2,285,2.2,Abu Dhabi Grand Prix,Race,2023-11-26 13:00:00
2,0 days 00:02:06.186000,27.7,49.0,1014.2,False,38.2,272,3.0,Abu Dhabi Grand Prix,Race,2023-11-26 13:00:00
3,0 days 00:03:06.185000,27.7,50.0,1014.4,False,38.2,266,2.2,Abu Dhabi Grand Prix,Race,2023-11-26 13:00:00
4,0 days 00:04:06.184000,27.6,48.0,1014.2,False,38.2,341,2.2,Abu Dhabi Grand Prix,Race,2023-11-26 13:00:00

In [24]:
loaded_weather.shape

(156, 11)

In [25]:
weather_sample_session = session.weather_data
weather_sample_session.shape

(111, 8)

In [21]:
weather_sample_lap = sample_lap.get_weather_data()
weather_sample_lap.head()

Time        0 days 00:38:33.670000
AirTemp                       20.5
Humidity                      52.6
Pressure                     989.4
Rainfall                     False
Name: 38, dtype: object

In [26]:
weather_sample_session.head()

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0 days 00:00:33.113000,19.7,58.2,989.6,False,32.8,355,0.0
1,0 days 00:01:33.313000,20.0,58.2,989.6,False,32.8,268,0.7
2,0 days 00:02:33.435000,20.2,57.1,989.6,False,32.9,6,0.7
3,0 days 00:03:33.151000,20.5,56.7,989.6,False,33.0,296,0.9
4,0 days 00:04:33.164000,20.9,55.1,989.6,False,33.9,319,0.7

In [27]:
test = weather_sample_session[weather_sample_session["Time"] == "0 days 00:38:33.670000"]

In [28]:
test

,Time,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
38,0 days 00:38:33.670000,20.5,52.6,989.4,False,32.9,206,3.1

In [29]:
total_laps = session.total_laps
total_laps

53

In [30]:
session.session_info

{'Meeting': {'Key': 1013,
  'Name': 'Italian Grand Prix',
  'Location': 'Monza',
  'Country': {'Key': 13, 'Code': 'ITA', 'Name': 'Italy'},
  'Circuit': {'Key': 39, 'ShortName': 'Monza'}},
 'ArchiveStatus': {'Status': 'Generating'},
 'Key': 5498,
 'Type': 'Race',
 'Name': 'Race',
 'StartDate': datetime.datetime(2019, 9, 8, 15, 10),
 'EndDate': datetime.datetime(2019, 9, 8, 17, 10),
 'GmtOffset': datetime.timedelta(seconds=7200),
 'Path': '2019/2019-09-08_Italian_Grand_Prix/2019-09-08_Race/'}